@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.animate-shine {
  animation: shine 5s linear infinite;
}
